.container{
	width: 1170px;
	margin: 0 auto;
}
.flex {
	display: flex;
}
hr{
	margin: 0
}
.header .container{
	justify-content: space-between;
	align-items: center;
	padding-top: 29px;
	padding-bottom: 29px;
}
.navigation ul li a{
	    font-size: 15px;
        color: #3f3f3f;
        text-transform: uppercase;
        margin-left: 15px;
	
}
.free{
	    text-transform: uppercase;
        font-size: 14px;
        border: 1px solid;
        padding: 5px 11px;
        color: #00c9b7;
        margin-left: 15px;
}
.free a{
	color: #00c9b7;

}