.container{
	width: 1170px;
	margin: 0 auto;
}
.flex {
	display: flex;
}
.center{
	align-items: center;
}
.hover:hover{
	color: #33abff;
}
.color{
	color: #4f4f4f;
}
.color3{
	color: #6a6868;
}
.center1{
	text-align: center;
}
.right{
	text-align: right;
}
.size{
	font-size: 15px;
}
.size2{
	font-size: 20px;
}
.size3{
	font-size: 30px;
}
.cursor{
	cursor: pointer;
}
.margin-top{
	margin-top: 11%
}
.margin-bottom{
	margin-bottom: 7%
}
hr{
	margin: 0
}
.header .container{
	justify-content: space-between;
	align-items: center;
	padding-top: 29px;
	padding-bottom: 29px;
}
.navigation ul li a{
	    font-size: 15px;
        color: #3f3f3f;
        text-transform: uppercase;
        margin-left: 25px;
	
}
.free{
	    text-transform: uppercase;
        font-size: 14px;
        border: 1px solid;
        padding: 5px 11px;
        color: #00c9b7;
        margin-left: 50px;
}
.free a{
	color: #00c9b7;

}
.menu.active .menu1:first-child {
	transform: translate(-50% , -50%) rotate(-45deg);
	top: 50%;
}


.menu.active .menu1:nth-child(2){
	opacity: 0;
	visibility: hidden;
	left:200%;
} 

.menu.active .menu1:last-child{
	transform: translate(-50% , -50%) rotate(45deg);
	top:50%;
}
.menu .menu1:first-child {
	top: 30%;
}
.menu .menu1:last-child{
	top:70%;
}
.menu{
	width: 60px;
	height: 60px;
	border: 1px solid #00c9b7;
	position: relative;
	cursor: pointer;
	display: none;
	overflow: hidden;

}
.menu .menu1{
	transition: all .3s linear;
	width: 40px;
	height: 5px;
	background-color: #00c9b7;
	position: absolute;
	transform: translate(-50% , -50%);
	top:50%;
	left:50%;
}
.banner img{
	width: 100%;
	position: relative;
}
.banner .container{
    display: inline;
    position: absolute;
    top: 180px;
    left: 98px;
    width: 500px;
    
}

.banner .container img{

	width: 140px;
}
.box1{
    width: 80%;
    background-color: #ffffff;
    left: 154px;
    position: absolute;
    top: 520px;
    height: 60px;
}
.box1 p{
	   text-align: center;
       line-height: 55px;
}
.container .paragrap span{
	color: #f08200;
    font-size: 30px;
    padding-right: 4px;
}
.paragrap{
	text-transform: uppercase;
	font-size: 30px;
	color: #ffffff;
}
.paragrap1{
	text-transform: uppercase;
	font-size: 30px;
	color: #ffffff;
}
.paragrap3{
    font-size: 20px;
    color: #ffffff
}
.socialicon{
	width: 100%;
	display: flex;
}
.socialicon .icons{
	width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 11.5%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.icons p{
	margin-top: 10px;
	color: #2e2e2e;
}
.icons p:hover{
	color: #0096ff;
	cursor: pointer;
}
.icons div{
	text-align: center;
}
.mobille{
	width: 100%;
    height: 680px;
    background-color: #0096ff;
}
.features{
	width: 80%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    background: #ffffff;
    margin-left: 11.5%;
}
.features a{
	border: 1px solid #0096ff;
    padding: 1% 1%;
    color: #0096ff;
}
.videocalls{
	width: 40%;
    padding-top: 9%;
    padding-left: 10%;
}
.imagemobil{
	    margin-top: 5%;
	    margin-left: 8%;
}
.pro1{
	font-size: 20px;
    color: #ffffff;
    padding-bottom: 8%
}
.pro{
	font-size: 30px;
    color: #ffffff;
    padding-bottom: 6%;
}
.smallpro{
	font-size: 18px;
    color: #ffffff;
    padding-bottom: 9%;
}
.forfree{
	display: inline;
    padding: 2% 2%;
    background-color: #ffffff;
}
.forfree a{
	text-transform: uppercase;
    color: #0096ff;
    font-size: 16px;
    font-family: "myriadpro";
}
.apk{
	margin-top: 4%;
	margin-bottom: 4%;
}
.apk1{
	margin-bottom: 1%;
}
.apk2{
	margin-top: 1%;
}
.apllymobile{
	align-items: center;
}
.apllymobile .container{
	justify-content: space-around;
	align-items: center;
}
.donwload{
	margin: 5% auto
}
.donwload p{
	color: #afafaf;
}
.border {
    width: 120px;
    border: 1px solid #0066ad;
    border-radius: 20px;
    align-items: center;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #0096ff;
    margin-left: 45%;
    margin-top: 2%;
    cursor: pointer;
}
.border p{
	color: #ffffff;
	padding-right: 5px;
}
.desktop{
	padding-top: 90px;
	padding-bottom: 90px;
}
.pp{
	margin-left: 13%;
}
.ppp{
	    font-size: 35px;
        color: #525151;
        margin-top: 3%;
        margin-bottom: 5%;
}
.use {
    text-transform: uppercase;
    background-color: #0096ff;
    width: 128px;
    color: #ffffff;
    font-size: 16px;
    padding: 2%;
    margin-top: 12%;
    cursor: pointer;

}
.screenshots{
	font-size: 35px;
	margin-bottom: 100px;
}
.shots img{
	    width: 200px;
        height: 369px;
        padding-top: 120px;
}
.shot1 img{
	        height: 430px;
            padding-top: 59px;
}
.shots2{
	justify-content: space-between;
}
.smart{
	color: #747474;
}
.man{
	background-color: #0096ff;
	margin-top: 60px;
	padding-top: 25px;
	padding-bottom: 25px;
}
.man1{
    display: flex;
    align-items: center;
    line-height: 17px;
}
.man1 img{
	height: 60%;
}
.man11{
	margin-left: 30px;
    color: #ffffff

}
.man111{
	font-size: 25px;
}
.man11:last-child{
	font-size: 10px;
}
.man2{
	justify-content: space-around;
}
.man3{
	width: 100px;
}
.mail{
	position: relative;
	margin-bottom: -3px;
}
.mail img{
	width: 100%;
	position: relative;
}
.mail2{
	position: absolute;
	top: 40px;
    align-items: center;
    text-align: center;
    left: 20%;
    color: #cccccc;
}
.mail1{
	font-size: 30px;
	padding-bottom: 1%;
}
.socialicon1{
	width: 424px;
    height: 600px;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    bottom: 66px;
    left: 191px;
}
.socialicon2{
	width: 424px;
    height: 600px;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    bottom: 66px;
    right: 191px;
}
.with{
	color: #ffffff;
    text-align: center;
    margin: 5% 0;
    text-transform: uppercase;
    font-size: 20px;
}
.send{
	color: #ffffff;
	text-align: center;
	margin:5% 0;
	text-transform: uppercase;
	font-size: 20px;
}
input{
	border: 1px solid #0096ff;
    background: black;
    display: block;
    width: 80%;
    height: 30px;
    margin-left: 20px;
    padding-left: 10px;
    margin-bottom: 30px;
}

textarea{
	border: 1px solid #0096ff;
    background: black;
    display: block;
    width: 80%;
    height: 90px;
    margin-left: 20px;
    padding-left: 10px;


}
button{
	text-transform: uppercase;
    background-color: #0096ff;
    color: #ffffff;
    border: 0;
    display: block;
    padding: 10px;
    margin: 40px 20px;
    border-radius: 10px
}.icon123 p{
	display: block;
	color: #e6e6e6;
	font-size: 12px;
	padding-left: 7.5%;
}
address{
    color: #e6e6e6;
    font-size: 15px;
    padding-left: 7.5%

}
.footer{
	background-color:#0b0d1b;
	padding:100px 0 ;
}
.footer1{
	border:2px solid #ffffff;
    width: 168px;
    height: 70px;
    margin:0 auto;
}
.footer2{
	border: 4px solid #ffffff;
    margin: 5px 5px;
    width: 150px;
    height: 73%;
    line-height: 73%
}
.footer2 p{
	    text-align: center;
    font-size: 46px;
    padding-top: 17px;
    color: #ffffff;
}
.all{
	text-align:center;
	margin-top: 5%;
	font-size: 20px;
	color: #7e7e7e;
}
@media (max-width: 1024px){
	.menu{
		display: block;
	}
	.navigation{
		position: fixed;
		width:100%;
		
		top:-150%;
		right:0%;
		transition: top .3s linear;
		
	}
	.navigation.active{
		top:160px;
		left: 30%;

	}
	.navigation ul{
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		
		
	}
	.navigation ul li{
		display: block;
	}
	.free{
		margin:0 auto;
	}
	.header{
		padding: 0 20px;
	}
	.banner{
		position: relative;
	}
	.banner img{
		width: 100%;
		margin:0 auto;
	}
	.banner.active{
	padding-top: 100px;
}

	.banner .container { 
    display: inline;
    position: absolute;
    top: 44px;
    left: 20px;
    width: 500px;
}
.box1 {
    width: 80%;
    background-color: #ffffff;
    left: 11%;
    position: absolute;
    top: 84%;
    height: 60px;
}

.box1 p {
       text-align: center;
       line-height: 55px;
}
.banner .container.active {
    display: inline;
    position: absolute;
    top: 131px;
    left: 20px;
    width: 500px;
}
.box1.active{
    width: 80%;
    background-color: #ffffff;
    left: 11%;
    position: absolute;
    top: 87%;
    height: 60px;
}
.imagemobil {
    margin-top: 9%;
}
.shots2{
	width: 100%;
}
.man{
	width:100%;
}
.man2{
	width:100%;
}
.smart{
	display: none;
}
body{
	width: 100%;
}
