.container{
	width: 1170px;
	margin: 0 auto;
}
.flex {
	display: flex;
}
hr{
	margin: 0
}
.header .container{
	justify-content: space-between;
	align-items: center;
	padding-top: 29px;
	padding-bottom: 29px;
}
.navigation ul li a{
	    font-size: 15px;
        color: #3f3f3f;
        text-transform: uppercase;
        margin-left: 25px;
	
}
.free{
	    text-transform: uppercase;
        font-size: 14px;
        border: 1px solid;
        padding: 5px 11px;
        color: #00c9b7;
        margin-left: 50px;
}
.free a{
	color: #00c9b7;

}
.menu.active .menu1:first-child {
	transform: translate(-50% , -50%) rotate(-45deg);
	top: 50%;
}


.menu.active .menu1:nth-child(2){
	opacity: 0;
	visibility: hidden;
	left:200%;
} 

.menu.active .menu1:last-child{
	transform: translate(-50% , -50%) rotate(45deg);
	top:50%;
}
.menu .menu1:first-child {
	top: 30%;
}
.menu .menu1:last-child{
	top:70%;
}
.menu{
	width: 60px;
	height: 60px;
	border: 1px solid #00c9b7;
	position: relative;
	cursor: pointer;
	display: none;
	overflow: hidden;

}
.menu .menu1{
	transition: all .3s linear;
	width: 40px;
	height: 5px;
	background-color: #00c9b7;
	position: absolute;
	transform: translate(-50% , -50%);
	top:50%;
	left:50%;
}
.banner img{
	width: 100%;
	position: relative;
}
.banner .container{
    display: inline;
    position: absolute;
    top: 180px;
    left: 98px;
    width: 500px;
    
}

.banner .container img{

	width: 140px;
}
.box1{
    width: 80%;
    background-color: #ffffff;
    left: 154px;
    position: absolute;
    top: 520px;
    height: 60px;
}
.box1 p{
	   text-align: center;
       line-height: 55px;
}
.container .paragrap span{
	color: #f08200;
    font-size: 30px;
    padding-right: 4px;
}
.paragrap{
	text-transform: uppercase;
	font-size: 30px;
	color: #ffffff;
}
.paragrap1{
	text-transform: uppercase;
	font-size: 30px;
	color: #ffffff;
}
.paragrap3{
    font-size: 20px;
    color: #ffffff
}
.socialicon{
	width: 100%;
	display: flex;
}
.socialicon .icons{
	width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 11.5%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.icons p{
	margin-top: 10px;
	color: #2e2e2e;
}
.icons p:hover{
	color: #0096ff;
	cursor: pointer;
}
.icons div{
	text-align: center;
}
.mobille{
	width: 100%;
    height: 680px;
    background-color: #0096ff;
}
.features{
	width: 80%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    background: #ffffff;
    margin-left: 11.5%;
}
.features a{
	border: 1px solid #0096ff;
    padding: 1% 1%;
    color: #0096ff;
}
.videocalls{
	width: 40%;
    padding-top: 9%;
    padding-left: 10%;
}
.imagemobil{
	    margin-top: 5%;
	    margin-left: 8%;
}
.pro1{
	font-size: 20px;
    color: #ffffff;
    padding-bottom: 8%
}
.pro{
	font-size: 30px;
    color: #ffffff;
    padding-bottom: 6%;
}
.smallpro{
	font-size: 18px;
    color: #ffffff;
    padding-bottom: 9%;
}
.forfree{
	display: inline;
    padding: 2% 2%;
    background-color: #ffffff;
}
.forfree a{
	text-transform: uppercase;
    color: #0096ff;
    font-size: 16px;
    font-family: "myriadpro";
}

@media (max-width: 1024px){
	.menu{
		display: block;
	}
	.navigation{
		position: fixed;
		width:100%;
		
		top:-150%;
		right:0%;
		transition: top .3s linear;
		
	}
	.navigation.active{
		top:160px;
		left: 30%;

	}
	.navigation ul{
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		
		
	}
	.navigation ul li{
		display: block;
	}
	.free{
		margin:0 auto;
	}
	.header{
		padding: 0 20px;
	}
	.banner{
		position: relative;
	}
	.banner img{
		width: 100%;
		margin:0 auto;
	}
	.banner.active{
	padding-top: 100px;
}

	.banner .container { 
    display: inline;
    position: absolute;
    top: 44px;
    left: 20px;
    width: 500px;
}
.box1 {
    width: 80%;
    background-color: #ffffff;
    left: 11%;
    position: absolute;
    top: 84%;
    height: 60px;
}

.box1 p {
       text-align: center;
       line-height: 55px;
}
.banner .container.active {
    display: inline;
    position: absolute;
    top: 131px;
    left: 20px;
    width: 500px;
}
.box1.active{
    width: 80%;
    background-color: #ffffff;
    left: 11%;
    position: absolute;
    top: 87%;
    height: 60px;
}
.imagemobil {
    margin-top: 9%;
}
